@font-face {
    font-family: "Cute Font";
    src: url('../fonts/CuteFont-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
   /* max-width: 1440px;*/
    margin: 0 auto;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.btn {
    border-radius: 3px;
    outline: none;
    border: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logout__icon svg
{
    position: fixed;
    right: 15px;
    top: 15px;
    fill:#adadad;
}
.logout__icon:hover svg
{
    fill: #ffffff;
}
.logout__icon:active svg
{
    fill: #465463;
}
.logo {
    margin: 50px 0;
    padding: 70px 0 70px 4.6vw;
    align-self: flex-start;
}
.intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 535px;
    justify-content: center;
}
.logo a {
    font-size: 170px;
    font-weight: bold;
    color: #adadad;
    text-decoration: none;
    font-family: 'Cute Font';
}

.login {
    width: 100%;
    margin-top: 0px;
}

.login__wrapper {
    width: 40vw;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ffffff;
    border-radius: 15%;
}

.login__form {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.login__input {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    color: #b4b4b4;
    padding: 15px;
    background-color: #f0ecec;
    border: none;
    outline: none;
}

.login__btn {
    margin-top: 15px;
    width: 50%;
    padding: 15px;
    color: #5d6e80;
    font-size: 18px;
    font-weight: bold;
    background-color: #e6e6e6;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}

.main-nav {
    width: 100vw;
    display: flex;
    padding: 15px 9vw;
    background-color: #000000;
    box-sizing: border-box;
    position: fixed;
}

.site-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
}

.site-list__item:not(:last-child) {
    margin-right: 110px;
}

.site-list__item a {
    font-size: 20px;
    font-weight: bold;
    color: #adadad;
    text-decoration: none;
}

.site-list__item:hover a {
    color: #ffffff;
}

.site-list__item:active a,
.site-list__item-active a{
    color: #465463;
}

.cards__wrapper{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100vw;
    padding: 0 5vw;
    list-style: none;
    
}

.card{
    width: 30%;
    margin-top: 50px;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
    box-shadow: inset 0 0 1em #acacac, 0 0 1em #575757;
    background-color: #e2d8c6;
    position: relative;
}

.card:not(:nth-child(3n)){
    margin-right: 5%;
}
.card img{
    width: 100%;
}

.card__title, .card__description{
    margin: 0;
    padding: 15px;
    
}

.card__title{
    text-align: center;
    font-size: 20px;
}

.card__description{
    margin-right: 60px;
    font-size: 16px;
}

.card__basket{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../img/supermarket.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 45px;
    right: 10px;
}

.card__basket:hover
{
    background-image: url("../img/supermarkethover.svg");
}