@font-face {
    font-family: "Cute Font";
    src: url('../fonts/CuteFont-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    /*max-width: 1440px;*/
    min-width: 320px;
    margin: 0 auto;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.wrapper {
    background-image: url("../img/background_image.jpg");
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index .header {
    background-color: transparent;
    position: static;
}

.index .logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 2.3vw;
    padding-bottom: 20px;
}

.btn {
    border-radius: 3px;
    outline: none;
    border: none;
}

.header {
    width: 100%;
    /*max-width: 1440px;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: fixed;
    background-color: #000000;
}

.logout__icon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.logout__icon svg {
    fill: #adadad;
}

.logout__icon:hover svg {
    fill: #ffffff;
}

.logout__icon:active svg {
    fill: #465463;
}

.logo {
    margin: 50px 0;
    padding: 70px 0 70px 4.6vw;
    align-self: flex-start;
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 535px;
    justify-content: center;
}

.logo a {
    font-size: 170px;
    font-weight: bold;
    color: #adadad;
    text-decoration: none;
    font-family: 'Cute Font';
}

.login {
    width: 100%;
    margin-top: 0px;
    padding: 0 0 100px 60px;
}

.login__wrapper {
    width: 40vw;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(226, 216, 198, 0.7);
    border-radius: 6px;
    box-shadow: 1px 1px 6px #8a8989, -1px -1px 6px #575757;
    align-self: flex-start;
    margin: 0;
}

.login__form {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.login__input {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    padding: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #dad8d8;
    background-color: #2c2b2b;
}

.login__input::placeholder {
    color: #dad8d8;
}

.login__btn {
    margin-top: 15px;
    width: 50%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #dad8d8;
    background-color: #2c2b2b;
}

.login__btn:hover {
    color: #dfdfdf;
    background-color: #1d1d1d;
}

.login__btn:active {
    color: #d4d3d3;
    background-color: #424141;
}

.main-nav {
    width: 100%;
    display: flex;
    padding: 15px 5%;
    box-sizing: border-box;
}

.site-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
}

.site-list__item:not(:last-child) {
    margin-right: 110px;
}

.site-list__item a {
    font-size: 20px;
    font-weight: bold;
    color: #adadad;
    text-decoration: none;
}

.site-list__item:hover a {
    color: #ffffff;
}

.site-list__item:active a,
.site-list__item-active a {
    color: #465463;
}

.menu__btn {
    display: none;
}

.cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 0 5vw;
    list-style: none;

}

.card {
    width: 33.3333%;
    flex-shrink: 0;
    margin-top: 50px;
    padding: 0 1.4vw;
    box-sizing: border-box;
}

.card__content-wrapper {
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 0 1em #acacac, 0 0 1em #575757;
    background-color: #e2d8c6;
}

.card__coin {
    position: absolute;
    background-image: url("../img/coin.svg");
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #9c988e;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 5px;
    box-sizing: border-box;
    top: 70%;
    right: 15px;
    font-size: 25px;
}

.card__img-wrapper {
    width: 100%;
    position: relative;
}

.card img {
    width: 100%;
    min-height: 270px;
}

.card__title {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.card__description {
    margin: 0;
    padding: 25px;
    margin-right: 60px;
    font-size: 16px;
}

.quests .card__description,
.inventory .card__description {
    margin-right: 0;
}


.card__basket {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../img/supermarket.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 45px;
    right: 10px;
}

.card__basket:hover {
    background-image: url("../img/supermarkethover.svg");
}

.transactions,
.mentors_management {
    display: flex;
    box-sizing: border-box;
    margin: 100px 0;
    padding: 0 9vw;
    flex-direction: column;
    align-items: center;
}

.transactions__table,
.mentors__table {
    width: 100%;
    font-size: 18px;
    box-shadow: inset 0 0 1em #acacac, 0 0 1em #575757;
    background-color: #e2d8c6;
}

.table-header__row th {
    padding: 20px 10px 20px 10px;
    color: #424141;
}

.table-header__row {
    box-shadow: 0 1px 6px #acacac;
}

.transactions__table tbody th,
.mentors__table tbody th {
    padding: 10px;
    font-weight: 400;
    font-style: italic;
}

.table-body {
    color: #2b920b;
}

.table-body__mentors {
    color: #626060;
}

.table-body--bought {
    color: #f70303;
}

.table-body:first-child th {
    padding-top: 25px;
}

.table-body:last-child th {
    padding-bottom: 25px;
}

@media (max-width: 992px) and (min-width: 768px) {
    .main-nav {
        padding: 15px 0;
    }

    .intro {
        min-height: 400px;
        background-image: url("../img/main-bg-mobile.jpg");
    }

    .card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        min-width: 320px;
    }

    .regular .header--opened {
        flex-direction: row-reverse;
        height: 100vh;
    }

    .main-nav {
        display: none;
        position: relative;
    }

    .header--opened .main-nav {
        display: flex;
        margin-top: 20%;
        padding-top: 0;
        align-self: flex-start;
    }

    .header--opened .site-list {
        flex-direction: column;
        margin: 0 0 10px 40%;
    }

    .site-list__item {
        text-align: center;
        padding: 10px 0;
    }

    .site-list__item:not(:last-child) {
        margin-right: 0;
    }

    .logout__icon {
        top: 10px;
    }

    .menu__btn {
        display: block;
        margin: 8px 0 5px 20px;
        padding: 0;
        border: 0;
        outline: none;
        background-color: transparent;
        width: 24px;
        height: 26px;
        font-size: 0;
        position: relative;
        align-self: flex-start;
        flex-direction: row;
        cursor: pointer;
    }

    .menu__btn span {
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 0;
        width: 24px;
        height: 3px;
        background-color: #fff;
    }

    .menu__btn span::before,
    .menu__btn span::after {
        width: 24px;
        height: 3px;
        content: "";
        display: inline-block;
        position: absolute;
    }

    .menu__btn span::before {
        right: 0;
        top: 6px;
        background-color: #fff;
    }

    .header--opened .menu__btn span::before {
        display: none;
    }

    .header--opened .menu__btn span {
        top: 10px;
        right: 10px;
        transform: rotate(45deg);
    }

    .header--opened .menu__btn span::after {
        top: 0;
        right: 0;
        transform: rotate(90deg);
    }

    .menu__btn span::after {
        top: 12px;
        right: 0;
        background-color: #fff;
    }

    .intro {
        min-height: 160px;
        background-position: center top;
        background-size: cover;
        background-image: url("../img/main-bg-mobile.jpg");
    }

    .logo {
        width: 100%;
        box-sizing: border-box;
        padding: 0 4vw;
        margin: 100px 0;
    }

    .logo a {
        font-size: 90px;
        line-height: 100px;
    }

    .cards__wrapper {
        flex-direction: column;
        padding: 0 6vw;
    }

    .card {
        width: 100%;
    }

    .card__img-wrapper {
        position: relative;
    }

    .card__img-wrapper img {
        width: 100%;
        height: auto;
        min-height: auto;
    }
}