.cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 0 5vw;
    list-style: none;

}

.card {
    width: 33.3333%;
    flex-shrink: 0;
    margin-top: 50px;
    padding: 0 1.4vw;
    box-sizing: border-box;
}

.card__content-wrapper {
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 0 1em #acacac, 0 0 1em #575757;
    background-color: #e2d8c6;
}

.card__coin {
    position: absolute;
    background-image: url("../img/coin.png");
    width: 65px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    font-family: 'Optimus';
    color: #35332f;
    padding-top: 17px;
    padding-left: 3px;
    box-sizing: border-box;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
}

.card__img-wrapper {
    width: 100%;
    position: relative;
}

.card__img-wrapper::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(226, 216, 198, 0.1);
}

.card img {
    width: 100%;
}

.card__title {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    color: #272521;
}

.card__description {
    margin: 0;
    padding: 25px;
    margin-right: 60px;
    font-size: 16px;
    color: #302d28;
}

.quests .card__description,
.inventory .card__description {
    margin-right: 0;
}


.card__basket {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../img/supermarket.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 45px;
    right: 10px;
}

.card__basket:hover {
    background-image: url("../img/supermarkethover.svg");
}

@media (max-width: 992px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .cards__wrapper {
        flex-direction: column;
        padding: 0 6vw;
    }

    .card {
        width: 100%;
    }

    .card__title {
        
    }

    .card__img-wrapper {
        position: relative;
    }

    .card__img-wrapper img {
        width: 100%;
        height: auto;
        min-height: auto;
    }
}