.transactions,
.mentors_management {
    display: flex;
    box-sizing: border-box;
    margin: 100px 0;
    padding: 0 9vw;
    flex-direction: column;
    align-items: center;
}

.transactions__table,
.mentors__table {
    width: 100%;
    font-size: 18px;
    box-shadow: inset 0 0 1em #acacac, 0 0 1em #575757;
    background-color: #e2d8c6;
}

.table-header__row th {
    padding: 20px 10px 20px 10px;
    color: #424141;
}

.table-header__row {
    box-shadow: 0 1px 6px #acacac;
}

.transactions__table tbody th,
.mentors__table tbody th {
    padding: 10px;
    font-weight: 400;
    font-style: italic;
}

.table-body {
    color: #2b920b;
}

.table-body__mentors {
    color: #626060;
}

.table-body--bought {
    color: #f70303;
}

.table-body:first-child th {
    padding-top: 25px;
}

.table-body:last-child th {
    padding-bottom: 25px;
}